div {
	font-family: 'Noto Sans', sans-serif;
}

._content li {
	padding-bottom:1%;
}

._noPoints {
	list-style-type:none;
}
._noPadding {
	padding:0;
}

._back {
	background-color:#e2e6ec;
	max-width:25%;
	padding:20px;
}
._parent {
	background-color: #E6E7E8;
	max-height:25%;
	padding-left:15px;
}
._content {
	background-color:#fff;
}

._flex {
	display:flex;
}
._center {
	align-items:center;
}

._shadow {
	box-shadow: 0px 0px 2px grey
}

._left {
	justify-content: flex-start;
}
._right {
	justify-content: flex-end;
	margin-left:auto;
	padding-right:15px;
}
._column {
	flex-direction:column;
}

._marg5 {
	margin: 5px;
}

._active_small {
	border-radius: 25%;
	background-color: #CFD0D4;
	padding:5px;
}
._active_large {
	background-color: #e6e7ea;
	border-radius: 5px;
	padding-left:0;
	flex-grow:1;
	margin-right:5%;
	padding:5px 5px 5px 0;
}

._icon {
	width:24px;
	height:24px;
}

._item._closed {
	padding-left: 1%;
}
._item {
	padding-left:5%;
}

._info {
	font-size:13px;
	color:#464646;
}
._first_item {
	padding-top:1%;
}

._open::before {
	display:inline-flex;
	content: url('../images/arrow-down.svg');
	width:12px;
	height:12px;
}
._closed::before {
	display:inline-flex;
	content: url('../images/arrow-right.svg');
	width:12px;
	height:12px;
}