/* ==========================================================================
   Universal CSS
   ========================================================================== */
ul, li {
	list-style-type:none;
}
span {
	margin-top:auto;
	margin-bottom:auto;
	padding-left:3px;
	font-family: 'Noto Sans', sans-serif;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* ==========================================================================
   Settings
   ========================================================================== */
._noPadding {
	padding:0;
}
._marg5 {
	margin: 5px;
}
._column {
	flex-direction:column;
}
._shadow {
	box-shadow: 0px 0px 2px grey
}
._flex {
	display:flex;
}
._center {
	align-items:center;
}
._left {
	justify-content: flex-start;
}
._right {
	justify-content: flex-end;
	margin-left:auto;
	padding-right:15px;
}
._hidden {
	display:none;
}

/* ==========================================================================
   Top Level
   ========================================================================== */
._back {
	background-color:#e2e6ec;
	max-width:25%;
	padding:20px;
}
._parent {
	background-color: #E6E7E8;
	max-height:25%;
	padding-left:15px;
}
._active_small {
	border-radius: 25%;
	background-color: #CFD0D4;
	padding:5px;
	cursor:default;
}
._icon {
	width:24px;
	height:24px;
}

/* ==========================================================================
   Content level
   ========================================================================== */
._content {
	background-color:#fff;
}
._content li {
	padding-bottom:1%;
}

._active_large ._right {
	padding-right:0;
	margin-right:0;
}
._active_large {
	background-color: #e6e7ea;
	border-radius: 5px;
	padding-left:0;
	margin-right:5%;
	padding:0 5px 5px 0;
	cursor:default;
}
._item {
	padding-left:5%;
}
._info {
	font-size:13px;
	color:#464646;
}
._first_item {
	padding-top:1%;
}
._target div div div {
	padding-left:5px;
}

/* ==========================================================================
   Images
   ========================================================================== */
._site div:first-child::before, ._wm div:first-child::before, ._gear div:first-child::before, ._target::before {
	width:24px;
	margin-top:auto;
	margin-bottom:auto;
	margin-right:5px;
	margin-left:2px;
	display:inline-flex;
}

._site div:first-child::before {
	content: url('../images/pinpoint.svg');
}
._wm div:first-child::before {
	content: url('../images/windmill.svg');
}
._gear div:first-child::before {
	content: url('../images/cog.svg');
}
._target::before {
	content: url('../images/target.svg');
}

._closed::before, ._open::before {
	width:12px;
	display:inline-flex;
}
._open::before {
	content: url('../images/arrow-down.svg');
}
._closed::before {
	content: url('../images/arrow-right.svg');
}

/* ==========================================================================
   Hovers
   ========================================================================== */
._item:not(._active_large):hover {
	background-color: #e6e7ea;
	margin-right:5%;
	cursor:pointer;
	border-radius: 5px;
}
._item:not(._active_large):hover ._right {
	padding-right:0;
}
._parent div img:not(.active_small):hover {
	background-color: #CFD0D4;
	cursor:pointer;
	border-radius: 25%;
}